<!doctype html>
<html>
<head>
	<meta charset="utf-8">

	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120234723-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	
	dataLayer.push({
		'event': 'productClick',
		'ecommerce': {
			'click': {
				'actionField': {
					'list': 'Search Results'
				},
				'products': [{
					'name': 'A product',
					'id': '1234567890',
					'price': 12.34,
					'brand': 'Brand',
					'category': 'Category',
					'variant': 'black',
					'position': 1
				}]
			}
		},
		'eventCallback': function(a, b, c) {
		}
	});
	</script>

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-MPC7R8X');</script>
	<!-- End Google Tag Manager -->

	<script src="../node_modules/angular/angular.js"></script>
	<script src="../../swiv-core/dist/swiv-core.js"></script>
	<script src="../../swiv-map-insite/dist/swiv-map-insite.js"></script>
	<script src="../dist/swiv-app-insiteangular.js"></script>
	<script src="browser-test.js"></script>
	<!-- (c) 2011-2018 Absolunet -->
</head>
<body ng-app="insite">
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MPC7R8X"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	<div ng-controller="testCtrl as vm">
		<div ng-repeat="product in vm.products" ng-click="vm.impressProduct(product)" swiv-gee-product="product" style="
			border: 1px solid black;
			padding: 1em;
			cursor: pointer;
			margin: 0 1em 1em 0;
			float: left;
			width: 25em;">
			This is a product: {{ product.id }}
		</div>
	</div>
</body>
</html>
